.learning{
    background-color: rgb(143, 255, 30);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: latido linear 1s infinite;
    margin: var(--space2);
}

.section__index {
    max-width: 600px;
    margin: var(--space6) auto;
}

.section__index_row {
    display: flex;
    overflow-y: auto;
}

@keyframes latido {
    0% { width:20px; height:20px; border:10px solid gray; }
    100% { width:20px; height:20px; border:10px solid transparent; }
  }