.container {
  /*  background-color: red; */
  min-height: calc(100vh - 200px);
  margin-bottom: var(--space4);
}

/* .main_background{
 z-index: -1;
} */

 .main {
  background-image: url("/fondo.png");
  background-repeat: no-repeat;
  background-size: cover;
} 
